.text-white {
  color: $whiteColor;
}

.text-yellow {
  color: $yellowColor;
}
.form-control {
  padding: 15px;
  font-size: 1.5rem;
}
.btn {
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 10px 15px;
  text-wrap: nowrap;
  &.btn-primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}
.form-control {
  border-radius: 5px;
  &.form-control-md {
    padding: 18px;
  }
}
.none-pt {
  padding: {
    top: 0;
    bottom: 0;
  }
}
.form-control-custom {
  display: flex;
  align-items: center;
  input {
    width: 80px;
    text-align: center;
    border-radius: none;
  }
  .qty-minus {
    cursor: pointer;
    font-weight: 600;
    padding: 5px 10px;
    user-select: none;
  }
  .qty-plus {
    @extend .qty-minus;
  }
}
.table {
  thead {
    font-weight: 600;
  }
}

.select-tick {
  margin: 10px 0;
  overflow: hidden;
  .box-title {
    font-weight: 700;
    color: #444;
  }
  .select-list {
    .select-item {
      position: relative;
      cursor: pointer;
      border: 1px solid #cdcdcd;
      margin-right: 1.5rem;
      float: left;
      padding: 10px;
      border-radius: $borderRadiusButton;

      &:has(.input-item:checked) {
        border-color: $primaryColor;
        &::after {
          background-color: $primaryColor;
          border-radius: 2px 0 10px 0;
          color: #fff;
          content: "✓";
          font-size: 10px;
          height: 13px;
          left: 0;
          padding-bottom: 15px;
          padding-left: 4px;
          position: absolute;
          top: 0;
          width: 18px;
        }

        .select-price {
          color: $redColor;
        }
      }

      .select-condition {
        font-size: 13px;
      }
      .select-price {
        font-size: 15px;
        font-weight: 700;
      }

      .input-item {
        display: none;
      }
    }
  }
}

.bg-white {
  background: $whiteColor;
}
