.text-white {
  color: $whiteColor;
}

.text-yellow {
  color: $yellowColor;
}
.form-control {
  padding: 15px;
  font-size: 1.5rem;
}
.btn {
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 10px 15px;
  &.btn-primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}
.form-control {
  border-radius: 5px;
}

.bg-white {
  background: $whiteColor;
}
