@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin svg{
  svg {
    @content;
  }
}
@mixin svg-path{
  svg > path{
    @content;
  }
}
@mixin path{
  path{
    @content;
  }
}
@mixin fsvg($width, $height){
  svg{
    width: $width;
    height: $height;
    path{
      @content;
    }
  }
}
