$primaryColor: #191970;
$primaryLightColor: #5180ff;
$secondaryColor: #7e7e7e;
// $blackColor: #253d4e;
$blackColor: #252525;
$borderRadius: 8px;
$sectionConner: 20px;
$redColor: #dc3545;
$whiteColor: #fff;
$yellowColor: #fe8c23;
$blueColor: #0078d7;
$lightBlueColor: #288ad6;
$backgroundColor: #f5f5f5;

$bgGreenColor: #e5f8ed;
$GreenColor: #038e42;
$greenSecodaryColor: #3bb77e;
$container: 1320px;
$lineColor: #ececec;
$secondaryColorTransparent: #ecececb8;

$mobileWidth: 768px;
$tabletWidth: 1042px;

$fontFamily: "Inter", "Roboto", Arial, Helvetica, sans-serif !important;
