@use "../scss/" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
html {
  font-size: 62.5%;
  @include tablet {
    font-size: 60%;
  }
}
body {
  @include mobile {
    top: 0 !important;
  }
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: $fontFamily;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link,
a:hover,
a:active,
a {
  text-decoration: none;
  color: inherit;
}

@import "./general";
.wrapper {
  background-color: $backgroundColor;
}

.section {
  padding: 20px;
  background-color: $whiteColor;
  border-radius: $sectionConner;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);
  margin: 2rem 0;
  @include mobile {
    padding: 20px 5px;
    border-radius: 12px;
  }
  &.section-bg-one {
    background-color: #121226;
    .category-title .main-title {
      color: $whiteColor;
    }
  }
}
.sub-banner {
  img {
    width: 100%;
    border-radius: $sectionConner;
  }
}
.menu {
  @include mobile {
    display: none;
  }
  width: 100%;
  padding: 1px 10px;
  background: $blackColor;

  ul {
    list-style: none;
    display: flex;
    li {
      font-weight: 400;

      &:not(:last-child)::after {
        content: "|";
        color: #cdcdcd;
      }
      a {
        font-size: 1.4rem;
        padding: 0 5px;
        color: #cdcdcd;
        transition: color 0.3s ease-out;
        &.active {
          cursor: pointer;
          color: $greenSecodaryColor;
          font-weight: 600;
        }
      }
      span {
        @extend a;
        padding: 0;
      }
      .active:hover {
        color: $primaryLightColor;
      }
      &:hover > a {
        color: $whiteColor;
      }
    }
  }
}

.header {
  background: $primaryColor;
  padding: 20px 0;

  &.stick {
    backdrop-filter: blur(6px);
    top: 0;
    position: fixed;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    width: 100%;
    z-index: 1;
    background-color: #ffffffcf;
  }
  .header-content {
    column-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .mobile-menu {
    color: $whiteColor;
    font-size: 3rem;
    display: none;
    @include tablet {
      display: block;
      flex: 1;
    }
    @include mobile {
      flex: 1;
      display: block;
    }
  }
  .logo {
    @include mobile {
      flex: 1;
      & > img {
        max-height: 60px;
      }
    }
    max-width: 110px;
    img {
      width: 100%;
    }
  }

  .services {
    @include flex(unset, space-between);

    img {
      max-height: 40px;
      max-width: 60px;
    }
  }
}
.wrap-navbar {
  border-bottom: 1px solid $lineColor;
  border-top: 1px solid $lineColor;
  padding: 10px 0;
}

.navbar {
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
  @include flex(center, space-between);

  .menu-bar__title {
    font-size: 1.5rem;
    color: $whiteColor;
    font-weight: 600;
    background: $primaryColor;
    padding: 10px 15px;
    border-radius: $borderRadius;
  }

  .menu-icon {
    font-size: 2.6rem;
    color: $whiteColor;
    cursor: pointer;
  }

  .contact {
    color: yellow;
    font-weight: 700;
    font-size: 2rem;
  }

  .menu-bar {
    &::after {
      content: "";
      position: absolute;
      width: 250px;
      height: 20px;
      background: transparent;
      left: 0;
      bottom: -3px;
    }

    &:hover > .sidebar .nav {
      visibility: visible;
      opacity: 1;
      max-height: calc(100vh - 250px);
    }
  }
  .hotline {
    @include flex(center, unset);
    i {
      margin-right: 12px;
      font-size: 3.8rem;
    }
    p {
      color: $primaryColor;
      font-size: 2.6rem;
      font-weight: 700;
      font-family: "Quicksand", sans-serif;
      display: block;
      line-height: 1;
      margin-bottom: 0;
      span {
        font-weight: 500;
        font-size: 1.4rem;
        font-family: "Lato", sans-serif;
        color: #7e7e7e;
        display: block;
        letter-spacing: 0.9px;
      }
    }
  }
}
.navbar-nav {
  .nav-item {
    padding: 0 15px;
    font-weight: 600;
    color: $blackColor;

    &:hover {
      color: $primaryColor;
    }
  }
}

.search-bar {
  position: relative;
  display: flex;
  background-color: $whiteColor;
  border-radius: $borderRadius;
  border: 1px solid $whiteColor;
  width: 550px;
  @include tablet {
    width: 400px;
  }
  @include mobile {
    display: none;
  }
  align-items: center;
  padding: 0 20px;
  & > span {
    color: $blackColor;
    font-weight: 600;
    white-space: nowrap;
    font-size: 1.4rem;

    &::after {
      content: "|";
      padding: 0 10px;
      color: $secondaryColor;
    }
  }
  .search-input {
    @extend %share-search;
    &:focus {
      border: none;
      box-shadow: unset;
    }
    border: none;
    padding: 0;
  }

  %share-search {
    font-size: 1.4rem;
    color: $secondaryColor;
    font-weight: 500;
    height: 5rem;
  }

  .btn-search {
    @extend %share-search;
    outline: none;
    padding: 5px 10px;
    border: none;
    background-color: transparent;

    i {
      font-size: 16px;
    }
  }
}
.action {
  @include mobile {
    justify-content: flex-end;
    flex: 1;
    .action-item:first-of-type {
      display: none;
    }
  }
  align-items: center;
  .action-item {
    padding-right: 15px;
    position: relative;

    > i {
      color: $whiteColor;
      font-size: 2.4rem;
    }
  }
  span {
    @include mobile {
      display: none;
    }
    color: $whiteColor;
    font-weight: 500;
  }
  .badge {
    position: absolute;
    background: $whiteColor;
    padding: 5px;
    border-radius: 50px;
    color: $primaryColor;
    left: 15px;
    top: -17px;
    font-size: 0.9rem;
  }
}

.action-bar {
  a > span {
    color: yellow;
    font-weight: 600;
    margin-left: 8px;
  }

  & > :first-child {
    margin-right: 20px;
  }

  .action-bar__icon {
    padding: 6px;
    border: 2px solid yellow;
    border-radius: 50%;
    color: yellow;
  }
}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {
  color: $blackColor;
  font-weight: 600;
}

.wrap-navbar {
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
  .sidebar {
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 1;
  }
  .nav {
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);
    flex-wrap: nowrap;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    background: $whiteColor;
    border-radius: 3px;
    overflow-y: auto;
    max-height: 0;
    flex-direction: column;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;

    &::-webkit-scrollbar-thumb {
      background: $primaryColor;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    .nav-item {
      color: $blackColor;
      font-weight: 600;
      padding: 10px;
      .nav-child {
        box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);
        overflow: auto;
        visibility: hidden;
        opacity: 0;
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out,
          visibility 0.3s ease-in-out;
        width: 0;
        border-radius: 3px;
        left: 250px;
        top: 0;
        position: absolute;
        height: 100%;
        background: $whiteColor;
        &::-webkit-scrollbar-thumb {
          background: $primaryColor;
          border-radius: 10px;
        }
        &::-webkit-scrollbar {
          width: 3px;
        }
      }

      &:hover {
        color: $primaryColor;
        & > .nav-child {
          visibility: visible;
          opacity: 1;
          width: calc(100% - 250px);
        }
      }
    }
  }
}

.banner {
  border-radius: 20px;
  width: 100%;
  visibility: hidden;
  img {
    border-radius: 20px;
    width: 100%;
    @include mobile {
      border-radius: 12px;
    }
  }
  &.slick-initialized {
    visibility: visible;
  }
}
.category {
  padding: 0 5rem;
  @include mobile {
    padding: unset;
  }
}

%share-prev-next {
  cursor: pointer;
  opacity: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 2.5rem;
  transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out,
    right 0.3s ease-in-out, color 0.3s ease-in-out;
  i {
    backdrop-filter: blur(1px);
    background: $secondaryColorTransparent;
    padding: 10px 15px;
    color: $secondaryColor;
    border-radius: 50px;
  }
}

@include mobile {
  .prev,
  .next {
    display: none !important;
  }
}

.prev {
  @extend %share-prev-next;
  left: 60px;
}
.next {
  @extend %share-prev-next;
  right: 60px;
}

%share-product-slide-prev {
  opacity: 1;
  font-size: 2.5rem;
  left: -20px !important;
}

%share-product-slide-next {
  opacity: 1;
  right: -20px !important;
}

.products {
  .prev {
    @extend %share-product-slide-prev;
  }
  .next {
    @extend %share-product-slide-next;
  }
}

.flash-sale__products {
  visibility: hidden;
  display: flex;
  overflow: hidden;
  &.slick-initialized {
    overflow: unset;
    visibility: visible;
  }
}

.slide-lazy {
  visibility: hidden;
  display: flex;
  overflow: hidden;
  &.slick-initialized {
    overflow: unset;
    visibility: visible;
  }
  .prev {
    @extend %share-product-slide-prev;
  }
  .next {
    @extend %share-product-slide-next;
  }
}

.slick-slider {
  .prev {
    &:hover {
      color: $secondaryColor;
    }
  }
  .next {
    &:hover {
      color: $secondaryColor;
    }
  }
  &:hover {
    .prev {
      opacity: 1;
      left: -30px;
    }
    .next {
      opacity: 1;
      right: -30px;
    }
  }
}

/*Content*/
.category-content {
  flex-direction: row;
  @include flex(center, space-between);
  @include mobile {
    flex-direction: column;
    align-items: start;
    .category-action {
      margin-top: 15px;
    }
  }
}
.sub-title {
  color: $secondaryColor;
  font-size: 1.4rem;
}
.category-action {
  .action-circle {
    border: 1px solid #cdcdcd;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.3rem;
    color: $secondaryColor;
    font-weight: 500;
    transition: border 0.3s ease-in-out;

    &:hover {
      color: $greenSecodaryColor;
      border: 1px solid $greenSecodaryColor;
    }
  }
}

.slide-item {
  margin: 15px;
  width: 100%;
  aspect-ratio: 4/3;

  :last-child {
    margin-right: unset;
  }
  img {
    @include mobile {
      border-radius: 5px;
    }
    border-radius: 15px;
    width: 100%;
  }
}

.category-subTitle {
  color: $secondaryColor;
}
.main-title {
  @include mobile {
    font-size: 2.3rem;
  }
  font-size: 3rem;
  font-weight: 700;
  color: $blackColor;
}
.flash-sale {
  padding: 20px;
  background-color: $redColor;
  border-radius: $sectionConner;
  @include mobile {
    padding: 20px 5px;
  }

  .flash-sale__content {
    height: fit-content;
    background-color: $whiteColor;
    border-radius: $sectionConner;
    padding-left: 3rem;
    padding-right: 3rem;
    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
    border: 2px solid $redColor;
    .product {
      border-right: 1px solid #cdcdcd;
    }
  }
  .category-content .category-title .main-title {
    color: $whiteColor;
  }
}

.countdown {
  .count-item {
    display: flex;
    font-weight: 600;
    width: 4.5rem;
    height: 4.75rem;
    color: $redColor;
    font-size: 2.5rem;
    background-color: $whiteColor;
    border-radius: 10px;
  }
}

%share-product-category-promotion {
  position: absolute;
  padding: 5px 15px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 50px;
}
.products {
  padding: 20px 0;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
  .product {
    height: 100%;
    border: 1px solid $lineColor;
    border-radius: 10px;
    &:hover {
      border: 1px solid $greenSecodaryColor;
    }
  }
}
.product {
  position: relative;
  padding: 15px;
  overflow: hidden;
  &:hover {
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);
    .add-to-cart {
      opacity: 1;
      bottom: 15px;
    }
  }

  .image {
    margin-top: 12px;
    padding: 10px 0;
    width: 100%;

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  .product-category {
    @extend %share-product-category-promotion;
    @include tablet {
      position: unset;
      padding: unset;
    }
    &.not-promotion {
      top: 5px;
    }
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    background: $bgGreenColor;
    color: $GreenColor;
    top: 40px;
    left: 5px;
  }
  .product-promotion {
    @extend %share-product-category-promotion;
    background: $redColor;
    color: $whiteColor;
    top: 5px;
    left: 5px;
  }
  .status {
    margin: 5px 0;
    text-transform: uppercase;
    color: $GreenColor;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .infomation {
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    color: $secondaryColor;
  }

  .title {
    font {
      weight: 600;
      size: 1.6rem;
    }
    @include mobile {
      font-size: 1.4rem;
    }
  }
  .add-to-cart {
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0;
    width: calc(100% - 30px);
    position: absolute;
    bottom: -50px;
    padding: 8px 0;
    font-weight: 600;
    background: #038e68;
    color: #fff;
    border-radius: 50px;
    text-align: center;
  }
}
.price {
  font-weight: 600;
  font-size: 1.7rem;
  .current-price {
    color: $redColor;
  }
  .old-price {
    color: $secondaryColor;
    text-decoration: line-through;
  }
}

//Google
@include responseFirst {
  #google_translate_element {
    display: none;
  }
}

.goog-te-gadget-simple {
  border-radius: 5px;
  padding: 8px !important;
}
iframe.skiptranslate {
  @include mobile {
    display: none;
  }
  border-radius: 10px;
  border: none;
}
.sidebar-mobile {
  overflow-y: auto;
  position: fixed;
  width: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  top: 0;
  background: #ffffffcf;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  &.show {
    width: 90%;
    opacity: 1;
    visibility: visible;
  }

  .mobile-header {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $lineColor;
    .logo {
      height: 70px;
      img {
        max-height: 100%;
      }
    }
    .close-menu {
      cursor: pointer;
      padding: 5px 10px;
      background: #038e691a;
      border-radius: 50px;
    }
  }
  .sidebar-mobile__body {
    padding: 2rem;
    .search-bar {
      background: $lineColor;
      display: flex;
      width: 100%;
      border: none;
      input {
        background: inherit;
      }
    }
  }
  .mobile-menu {
    cursor: pointer;
    margin-top: 3rem;
    %share-navitem-dropdown-item {
      .dropdown > i {
        transition: transform 0.3s ease-in-out;
      }
      &.active {
        > .dropdown > i {
          transform: rotate(180deg);
        }
      }
    }
    .nav-item {
      padding: 10px 0;
      border-bottom: 1px solid $lineColor;
      .dropdown {
        justify-content: space-between;
        display: flex;
        align-items: center;
      }
      @extend %share-navitem-dropdown-item;
      .dropdown-menu {
        border: none;
        background: inherit;
        font-size: inherit;
        font-weight: inherit;
        .dropdown-item {
          padding-right: unset;

          @extend %share-navitem-dropdown-item;
          background: inherit;
          color: inherit;
          &:hover {
            color: $greenSecodaryColor;
          }
        }
      }
    }
  }
}

.breadcrumb {
  font-size: 1.4rem;
  background: $whiteColor;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  color: $primaryColor;
}
//Response Edit
@media (min-width: 1200px) {
  .container {
    max-width: $container;
  }
}

.title {
  font-weight: 600;
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

.nav-child {
  ul {
    color: #121226;
    padding: 20px;
    li {
      display: inline-block;
      margin: 5px 10px;
      width: 22%;
      &:hover {
        color: $primaryColor;
      }
    }
  }
}
//Product

@import "./pages/product";
@import "./pages/another";
@import "./pages/tracking";
@import "./pages/newsDetails";
@import "./pages/cart";
