.news {
  display: block;
  .news-item {
    padding: 15px 0;
    border-bottom: 1px solid $lineColor;
    overflow: hidden;
    & > a {
      display: block;
      overflow: hidden;
    }
    @extend .news;
    .temp-image {
      max-width: 250px;
      float: left;
      margin-right: 15px;
      @include mobile {
        max-width: 100px;
      }
      img {
        border-radius: $borderRadius;
        width: 100%;
        height: 100%;
      }
    }
    .title {
      font-size: 2.4rem;
      font-weight: bold;
      @include tablet {
        font-size: 1.6rem;
      }
    }
    .time-post {
      color: $secondaryColor;
    }
  }
}
.category-menu {
  overflow: hidden;
  list-style: inside;
  & > li.category-item {
    margin: {
      right: 5px;
      bottom: 8px;
    }
    float: left;
    padding: 3px 10px;
    border-radius: $borderRadius;
    width: fit-content;
    background: $blueColor;
    color: $whiteColor;
  }
  &.category-summary {
    list-style: none;
    & > li.category-item {
      width: 100%;
      overflow: hidden;
      padding: 3px 0;
      float: none;
      background: transparent;
      color: $blackColor;
    }
  }
  .category-number {
    margin-right: 10px;
    float: left;
    border-radius: 5px;
    color: #7c7c7ccd;
    padding: 3px 7px;
    font-size: 23px;
    background-color: #e9e9e9cd;
  }
  &.news {
    .news-item {
      .temp-image {
        max-width: 100px;
      }
    }
    .title,
    .time-post {
      font-size: 1.3rem;
    }
  }
}
.category-title {
  font: {
    size: 1.8rem;
    weight: bold;
  }
  color: $lightBlueColor;
}
