.image-product {
  aspect-ratio: 4/3;
  padding: 10px;
  border-radius: $borderRadius;
  border: 1px solid $lineColor;
  .image-product__item {
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
.box-detail-product {
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.sub-image__product {
  visibility: hidden;
  margin-top: 20px;
  max-height: 112px;

  &.slick-initialized {
    visibility: visible;
  }
  .sub-image__item {
    padding: 10px;
    border: 2px solid transparent;
    margin: 0 10px;
    &.slick-current {
      border: 2px solid $secondaryColor;
      border-radius: $borderRadius;
    }
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
.product-name {
  font-size: 2rem;
  font-weight: 500;
  margin: {
    bottom: 8px;
  }
}
.product-rate {
  p {
    color: $secondaryColor;
  }
}

.product-infomation {
  .product-promotion {
    width: fit-content;
    background: $redColor;
    border-radius: 8px;
    color: white;
    padding: 5px 15px;
    margin-bottom: 2rem;
  }
  .tools {
    font-weight: 600;
    display: flex;
    color: $primaryColor;
    > :first-child {
      margin-right: 20px;
    }
  }
  .price {
    font-size: 2.4rem;
    font-weight: 700;
    .old-price {
      font-size: 1.8rem;
    }
    .vat-info {
      font-weight: normal;
      font-size: 1.3rem;
      color: $secondaryColor;
    }
  }
  .description-short {
    font-size: 1.4rem;
    color: $secondaryColor;
  }

  .product-extra {
    flex-wrap: wrap;
    display: flex;
    column-gap: 10px;
    margin-top: 1rem;
    .product-qty {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $greenSecodaryColor;
      .qty {
        color: $secondaryColor;
        text-align: center;
        font-weight: 600;
        max-width: 50px;
        border: none;
        outline: none;
        &:focus {
          outline: none;
        }
      }
    }
    %btn {
      margin-top: 5px;
      padding: 15px;
      font-weight: 600;
      border: none;
      border-radius: $borderRadiusButton;
    }
    .add-to-card {
      @extend %btn;
      color: $whiteColor;
      background: $primaryColor;
      flex: 1;
      &:hover {
        background: $primaryBoldColor;
      }
    }
    .buy-now {
      color: $whiteColor;
      background: $redColor;
      @extend %btn;
      width: 100%;
      &:hover {
        background: $darkRedColor;
      }
    }
    .compare {
      flex: 1;
      background: $whiteColor;
      @extend %btn;
      border: 1px solid $primaryColor;
      color: $primaryColor;
      &:hover {
        background: $primaryColor;
        color: $whiteColor;
        i {
          @include svg {
            fill: $whiteColor;
          }
        }
      }
      .icon.compare-icon {
        @include svg {
          fill: $primaryColor;
        }
      }
    }
  }

  .product-parameter {
    margin: 5px 0;
    font-size: 14px;
    color: $secondaryColor;
    font-weight: 600;
    span:last-child {
      color: $blackColor;
    }
  }
}
.product-details {
  border: 1px solid $lineColor;
  border-radius: $borderRadius;
}
.tabs {
  display: flex;
  overflow: auto;
  .tab-item {
    white-space: nowrap;
    border: none;
    padding: 20px 25px;
    background: $whiteColor;
    font-weight: 700;
    color: $secondaryColor;
    border-bottom: 5px solid transparent;
    outline: none;
    transition: border-bottom 0.3s ease-in-out;
    &.active {
      border-bottom: 5px solid $greenSecodaryColor;
    }
  }
}
.tabs-content {
  padding: 20px;
  .tab-content {
    display: none;
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out;
    &.active {
      opacity: 1;
      display: block;
    }
  }
}
.promotes {
  @include mobile {
    display: none;
  }
  .promote-item {
    font-family: inherit;
  }
}

.star {
  > i {
    color: $yellowColor;
  }
}

.review-product {
  @extend .product-details;
  padding: 20px;

  .wrap-review {
    position: relative;
    max-height: 500px;
    overflow: auto;
    @include mobile {
      position: relative;
      max-height: 660px;
      overflow: auto;
    }
    &::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent;
    }
  }
  .general-review {
    height: fit-content;
    position: sticky;
    top: 0;
    background: $whiteColor;
    z-index: 1;
  }
}
.total-rating {
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  .point {
    font: {
      size: 2.5rem;
      weight: bold;
    }
    color: $yellowColor;
  }
}

.progress-rating {
  li {
    display: inline-flex;
    align-items: center;
    width: 100%;
    column-gap: 5px;
  }
  .number-star {
    @include flex(center, space-around);
    width: 30px;
    text-align: left;
    font-size: 1.3rem;
  }
  .timeline-star {
    background-color: #ccc;
    height: 4px;
    width: 100%;
    .timing {
      @extend .timeline-star;
      background-color: $yellowColor;
    }
  }
  .percent {
    @extend .number-star;
    font-weight: bold;
    color: $blackColor;
  }
}
.comment {
  &.mobile {
    display: none;
    @include mobile {
      display: block;
      height: 255px;
      overflow: auto;
    }
  }
  @include mobile {
    display: none;
  }
  .comment-item {
    padding: 10px;
    border-bottom: 1px solid $lineColor;
    .comment-name {
      font: {
        weight: bold;
      }
      &::after {
        content: " - ";
        width: 5px;
      }
    }
    .comment-date {
      color: $secondaryColor;
      font-size: 1.3rem;
    }
    .comment-content {
      font-size: 1.4rem;
    }
  }
}
.special-offer {
  border: 1px solid rgba($redColor, 0.2);
  border-radius: $borderRadiusButton;
  .special-offer-title {
    padding: 10px;
    background-color: rgba($redColor, 0.2);
    color: $redColor;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .special-offer-item {
    padding: 5px 10px;

    .special-offer-number {
      width: 20px;
      float: left;
      p {
        text-align: center;
        font-size: 10px;
        color: $whiteColor;
        font-weight: 600;
        background-color: $redColor;
        border-radius: 50px;
        width: 15px;
        height: 15px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
